#containerWell {
	margin-top: 50px;
	padding: 0px;	
}

#content {
	padding: 20px;
}

#options {
	height: 50px;
}

#timer {
	text-align: center;
}

.form-spaced {
	margin-right: 10px;
}

.subtitle {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 8%;
    color: white;
    text-shadow: -1px 0 black,
                 0 1px black,
                 1px 0 black,
                 0 -1px black;
}