.bg-image {
	background:transparent no-repeat center center;
	-webkit-background-size:cover !important;
	-moz-background-size:cover !important;
	background-size:cover !important;
	height:100vh;
	width: 100vw;
	position:absolute;
	top:0px;
	left:0px;
	z-index: -1;
}

.panel {
	background-color: rgba(245, 245, 245, 0.7);
	border: 0px;
}

#trackProgress {
	margin: 0px !important;
	border: 0px !important;
}

.subtitle {
    font-size: 1.7em;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 8%;
    color: white;
    text-shadow: -1px 0 black,
                 0 1px black,
                 1px 0 black,
                 0 -1px black;
}