#containerPanel {
	margin-top: 20px;
	padding: 0px;	
}

#containerPanel-body {
	padding: 0px;
}

#content {
	padding: 20px;
}

#mainInput {
	height: 50px;
	text-align: center !important;
}

#debug {
	position: absolute;
	text-align: left;
}

#options {
	text-align: center;
	padding-bottom: 20px;
}

#controls {
	margin-top: 10px;
	text-align: center;
}

#volumeBar {
	margin-right: 5px;
}

.subtitle-wrapper {
    text-align: center;
    position: absolute;
    bottom: 8%;
	width: 100%;
}

.subtitle {
	display: inline-block;
	
    /* Creates a black 1 pixel border around the text. */
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;	
}

.subtitle-background {
	background-color: rgba(100, 100, 100, 0.6); 	
}

.option-divider {
	margin-top: -15px;
}

.form-spaced {
	margin-right: 10px;
}

.form-group label {
	float: left;
	text-align: left;
	font-weight: normal;
}

.form-group input {
	display: inline-block;
}